<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #126799;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .app-container {
      width: 200px;
      height: 200px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="app-container">
    API {{ api }}
  </div>
</body>
</html>
