<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/router.css') }}">
    <title>Router</title>
</head>

<body>
    <div class="center">
        <div id="form">
            <h4>Router</h4>
            <div>
                <span>Your IP: {{ ip }}</span>
            </div>
            <form action="." method="post">
                <table>
                    <tr>
                        <td><span>Branch:</span></td>
                        <td>
                            <select name="branch" id="branch">
                                {% for b in branches %}
                                <option value="{{ b }}">{{ b }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Database:</span></td>
                        <td>
                            <select name="db" id="db">
                                {% for db in dbs %}
                                <option value="{{ db }}">{{ db }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="submit">
                    <input type="submit" value="Connect">
                </div>
                <div id="instances">
                    <small>Instances:</small>
                    <ul>
                        {% for i in instances %}
                            <li class="ins{{ i }}"></li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
            </form>
        </div>
    </div>
</body>

</html>